.question_container {
    width: 500px;
    background-color: rgb(241, 233, 233);
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
}

.question_content {
    padding: 10px;
    font-weight: 900;
    color: red;
}

.flex_container_res_comm {
    display: flex;
    padding: 10px
}

.flex_item_res_comm {
    width: 45%;
    padding: 10px;
    border: 0.5px solid rgb(192, 192, 192);
    border-radius: 10px;
}

.guru_id_highlight {
    color: blue;
    margin-top: 10px;
}

.response_button, .comment_button {
    padding: 7px 10px;
    background-color: red;
    color: white;
    border-radius: 10px;
    width: 30%;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
}

.far {
    margin-right: 5px;
}

.cat_container_box {
    border: 0.5px solid rgb(255, 42, 42);
    border-radius: 10px;
    padding: 10px;
}

.cat_description_divider {
    background-color: #ff0000;
    height: 4px;
    width: 50px;
    margin: 20px auto;
}

.cat_name {
    text-align: center;
    font-weight: 900;
}

.delete_AAG_button {
    padding: 5px 5px;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 30%;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    margin: 10px 10px;
}
.delete_button_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
